html, body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-family: 'PT Serif', serif;
  color: #224326;
  line-height: 1.4em;
  letter-spacing: -0.25px;
}

body {
  background-color: #dcf1d5;
  color: #224326;
  font-size: 16px;
}

body.loading-indicator {
  cursor: progress;
}

a {
  color: #006600;
}

* {
  box-sizing: border-box;
}

ul {
 padding-left: 15px;
}


@media only screen and  (min-width: 600px) {
  h1 {
    font-size: 35px;
  }
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.7px;
  font-weight: bold;
}

/* If you want to using pre wrap */
pre {
  /* white-space: pre-wrap; */
  /* Since CSS 2.1 */
  /* white-space: -moz-pre-wrap; */
  /* Mozilla, since 1999 */
  /* white-space: -pre-wrap; */
  /* Opera 4-6 */
  /* white-space: -o-pre-wrap; */
  /* Opera 7 */
  /* word-wrap: break-word; */
  /* Internet Explorer 5.5+ */
}

::selection {
  background: #dcf1d5;
  color: #224326
}

strong {
  font-weight: bold;
}